openapi: 3.0.3
info:
  title: Recreation Information Database (RIDB) Activities Facilities API
  description: The Recreation Information Database (RIDB) API provides programmatic access to information about federal recreation areas, facilities, campsites, tours, permits, events, and activities across the United States. RIDB is the authoritative federal source for recreation data managed by Recreation.gov.
  version: '1.0'
  contact:
    name: Recreation.gov RIDB Support
    url: https://ridb.recreation.gov/landing
  license:
    name: U.S. Government Public Domain
servers:
- url: https://ridb.recreation.gov/api/v1
  description: RIDB API v1
security:
- apiKey: []
tags:
- name: Facilities
paths:
  /facilities:
    get:
      summary: List facilities
      description: Returns a paginated list of federal recreation facilities (campgrounds, day-use areas, visitor centers, etc.).
      operationId: listFacilities
      parameters:
      - $ref: '#/components/parameters/Query'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - name: state
        in: query
        schema:
          type: string
      - name: activity
        in: query
        schema:
          type: string
      - name: lastupdated
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A list of facilities
      tags:
      - Facilities
  /facilities/{id}:
    get:
      summary: Get facility
      operationId: getFacility
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A facility record
      tags:
      - Facilities
  /facilities/{id}/activities:
    get:
      summary: List activities for a facility
      operationId: listFacilityActivities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Activities for the facility
      tags:
      - Facilities
  /facilities/{id}/campsites:
    get:
      summary: List campsites for a facility
      operationId: listFacilityCampsites
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Campsites for the facility
      tags:
      - Facilities
  /facilities/{id}/media:
    get:
      summary: List media for a facility
      operationId: listFacilityMedia
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Media items for the facility
      tags:
      - Facilities
  /facilities/{id}/links:
    get:
      summary: List links for a facility
      operationId: listFacilityLinks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Web links for the facility
      tags:
      - Facilities
components:
  parameters:
    Offset:
      name: offset
      in: query
      description: Pagination offset
      schema:
        type: integer
        default: 0
    Query:
      name: query
      in: query
      description: Free-text search query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: Number of records to return (max 50)
      schema:
        type: integer
        default: 50
        maximum: 50
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
