openapi: 3.0.3
info:
  title: Recreation Information Database (RIDB) Activities Recareas API
  description: The Recreation Information Database (RIDB) API provides programmatic access to information about federal recreation areas, facilities, campsites, tours, permits, events, and activities across the United States. RIDB is the authoritative federal source for recreation data managed by Recreation.gov.
  version: '1.0'
  contact:
    name: Recreation.gov RIDB Support
    url: https://ridb.recreation.gov/landing
  license:
    name: U.S. Government Public Domain
servers:
- url: https://ridb.recreation.gov/api/v1
  description: RIDB API v1
security:
- apiKey: []
tags:
- name: Recareas
paths:
  /recareas:
    get:
      summary: List recreation areas
      operationId: listRecAreas
      parameters:
      - $ref: '#/components/parameters/Query'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - name: state
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of recreation areas
      tags:
      - Recareas
  /recareas/{id}:
    get:
      summary: Get recreation area
      operationId: getRecArea
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A recreation area record
      tags:
      - Recareas
  /recareas/{id}/activities:
    get:
      summary: List activities for a recreation area
      operationId: listRecAreaActivities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Activities for the recreation area
      tags:
      - Recareas
  /recareas/{id}/facilities:
    get:
      summary: List facilities for a recreation area
      operationId: listRecAreaFacilities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Facilities for the recreation area
      tags:
      - Recareas
  /recareas/{id}/media:
    get:
      summary: List media for a recreation area
      operationId: listRecAreaMedia
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Media items for the recreation area
      tags:
      - Recareas
components:
  parameters:
    Offset:
      name: offset
      in: query
      description: Pagination offset
      schema:
        type: integer
        default: 0
    Query:
      name: query
      in: query
      description: Free-text search query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: Number of records to return (max 50)
      schema:
        type: integer
        default: 50
        maximum: 50
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
